
<div class="container" id="created_events_box">
  <p> Your created events are :<% @current_user.created_events.each do |event| %> </p>
  <ul>
    <li> Event <%= event.name %> at <%= event.location %> from <%= event.starts_at %> to <%= event.ends_at %> </li>
  </ul>
  <% end %>
</div>

<div class="container">
  <p> Your attended events are :<% @current_user.attended_events.each do |event| %> </p>
  <ul>
    <li> <%= event.name %> </li>
  </ul>
  <% end %>
</div>

<div class="container">

  <h3> Create an event </h3>
  <form action="/create_event" id="create_event_button" method="POST">
    <table>
      <tr>
        <td><label for="new_user">  Name </label></td>
        <td><input type="text" name="name"/></td>
      </tr>
      <tr>
        <td><label for="new_user"> Location </label></td>
        <td><input type="text" name="location"/></td>
      </tr>
      <tr>
        <td><label for="new_user"> Start Time </label></td>
        <td><input type="datetime-local" name="starts_at"/></td>
      </tr>
      <tr>
        <td><label for="password"> End Time </label></td>
        <td><input type="datetime-local" name="ends_at"/></td>
      </tr>
      <tr>
        <td><br><input type="submit" value="Create Event"><br></td>
      </tr>
    </table>
  </form>
</div>